@page "/createrecipe"

@using RecipesPWA.Common.Components
@using RecipesPWA.Common.Recipes
@using RecipesPWA.Shared.FormComponents

<PageTitle>Receptek</PageTitle>

<h1>Új recept</h1>

<EditForm Model="@NewRecipe">
    <AddRecipeForm
        @bind-Value="@NewRecipe"
        TValue="@NewRecipe.Value"/>
</EditForm>

@code {

    private OrderedGeneric<Recipe> NewRecipe { get; set; } = new(
        order: 0,
        value: new Recipe
        {
            Name = string.Empty,
            Instructions = Array.Empty<string>(),
            SubRecipes = Array.Empty<SubRecipe>()
        });

}