@page "/modifyrecipe/{recipeId}"

@using RecipesPWA.Shared.FormComponents
@using RecipesPWA.Common.Recipes
@using RecipesPWA.Common.Components
@using RecipesPWA.Common
@inject IRequestService<Recipe> RequestService
@inject NavigationManager NavigationManager

<PageTitle>Receptek</PageTitle>

<h1>Recept módosítása</h1>

<EditForm Model="@RecipeToModify">
    <AddRecipeForm @bind-Value="@RecipeToModify"
                   TValue="@RecipeToModify.Value" />
</EditForm>

@code {
    [Parameter]
    public string recipeId { get; set; }
    
    private OrderedGeneric<Recipe> RecipeToModify { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var recipeToModify = await RequestService.GetById(recipeId);
        if (recipeToModify == null)
        {
            NavigationManager.NavigateTo("/");
        }

        RecipeToModify = new(
            order: 0,
            value: recipeToModify);
        await base.OnInitializedAsync();
    }
}
